body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid white;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 4px solid black;
  height: 220px;
}

.lead {
  font-size: 16px;

}

.container {
  align-content: center;
  margin-bottom: 5%;
}

.time-block{
  text-align: justify;
  border-right: 1px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-right: 2px white;
  border-top: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
}

.hour {
  font-size: 18px;
  text-align: center;
  margin: auto;
  text-decoration-color: white;
  border-top: 1px white;
}

.past {
  background-color: #6d6c6c;
  color: white;
}

.present {
  background-color: #c4423b;
  color: white;
}

.future {
  background-color: #358a35;
  color: white;
}

.saveBtn {
  border-left: 1px solid white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #06AED5;
  color: white;
  padding-right: 10px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
